 body {

  background-color:  rgb(0, 42, 82) ;
  font-family: 'Inter', 'Segoe UI', 'Roboto', 'Helvetica Neue', sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1.5;

 }
 
 .move-to-top {
  position: fixed;
  bottom: 10%;
  right: 4%;
  background: #010c18;
  color: white;
  border: none;
  padding: 12px 18px;
  border-radius: 50px;
  font-size: 20px;
  cursor: pointer;
  z-index: 9999;
  box-shadow: 0 4px 10px rgba(0,0,0,0.15);
  transition: all 0.3s ease;
}
.move-to-top:hover {
  background: #ffffff;
  color: navy;
  transform: translateY(-4px);
}


